/* reveal all boxes */

* {
	margin: 0;
	padding: 0;
}

/*Link Handling*/
a:link {
	text-decoration: none;
	color: rgba(255, 246, 0,.75);
}

a:visited {
	text-decoration: none;
	color: rgba(255, 246, 0,.75);
}

a:hover {
	color: rgba(255, 246, 0,1);
}

/* Fill Background with Image */
body {
	overflow: scroll;
}

/* Image and Title Div */
#background {
	background: url("../img/DSC_1658_small.jpg") no-repeat center center;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	height: 1000px;
	width: 100%;	
}


/* Screen Image */
.screen {
	background-color: rgba(0, 0, 0,0.30);
	height: 100%;
	width: 100%;
}

/* Centered Title Container*/
.title {
	/*background-color: rgba(0, 0, 0,0.75);*/
	position: fixed;
	top: 30%;
	height: 150px;
	width: 100%;
	margin: auto;
}

/* Centered Title Text*/
h1 {
	text-align: center;
	margin: 0.25em auto;
	color: rgba(255, 255, 255,.95);
	font-size: 110px;
	font-weight: 100;
	font-style: italic;
	letter-spacing: 0.25em;
	font-family: 'Lora', serif;
}

/* Baseline Navigation Links Div */
#fixed_navigation {
	position: fixed;
	top: 85%;
	width: 100%;
	overflow: scroll;
}

/* Nav Text Container */
.nav_links {
	width: 80%;
	margin: auto;
	position: relative;
	background-color: rgba(0,0,0,0.75);
	padding: 0.75em;
	border-radius: 5px;
	text-align: center;
}

/* Nav List Styling */
ul {
}

/*Link Hover Style */

/* Nav Link Text Styling */
li {
	padding: 0.25em 0.75em;
	color: rgba(255, 246, 0,.75);
	font-size: 16px;
	text-align: center;
	font-family: 'Lora', serif;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0.25em;
	line-height:1.3em;
	margin: auto;
	display: inline-block;
}



