
/* reveal all boxes */
/** {
	border: 1px solid rgba(0,0,0,0.3);
}*/

body {
	background-image: url("../img/DSC_1658_small.jpg");
	background-position: center center;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/* Image and Title Div */
.banner {
	background-color: rgba(0, 0, 0,0.30);
	height: 1300px;
  	width: 100%;
}

/* Centered Title Container*/
.title {
	/*background-color: rgba(0, 0, 0,0.75);*/
	position: fixed;
	top: 25%;
	width: 100%;
}

/* Centered Title Text*/
h1 {
	text-align: center;
	color: rgba(255, 255, 255,.95);
	font-size: 125px;
	font-weight: 100;
	font-style: italic;
	letter-spacing: 0.5em;
	font-family: 'Lora', serif;
}

/* Baseline Navigation Links Div */
.navigation {
	background-color: rgba(0, 0, 0,0.75);
	margin: 0 auto;
	position: fixed;
	top: 90%;
	width: 100%;
	overflow: scroll;
}

/* Link Text Container */
.nav_links {
	min-width: 800px;
}

/* Link Text Styling */
h2 {
	color: rgba(255, 246, 0,.75);
	font-size: 16px;
	text-align: center;
	font-family: 'Lora', serif;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0.25em;
	line-height:1.3em;
}
