* {
	margin: 0;
	padding: 0;
}

/*Link Handling*/
a{
	width: 100%;
}

a:link {
	text-decoration: none;
	color: rgba(226, 244, 66, 0.70);
}

a:visited {
	text-decoration: none;
	color: rgba(226, 244, 66, 0.70);
}

a:hover {
	color: rgba(226, 244, 66, 1);
}

/* Fill Background with Image */
body {
	background-color: rgba(0,0,0,.75);
	overflow: scroll;
}

/* Image and Title Div */
#background {
	background: url("../img/DSC_1658_small.jpg") no-repeat center center;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	height: 120vh;
	width: 100%;
	display: none;
}

/* Change Background Image WORK Page Div */
#work_background {
	background: url("../img/Work_img.jpg") no-repeat center center;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	height: 120vh;
	width: 100%;
}

/* Change Background Image DEVELOPMENT Page Div */
#dev_background {
	background: url("../img/Dev_img.jpg") no-repeat center center;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	height: 120vh;
	width: 100%;
}

/* Screen Image */
.screen {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0,0.30);
}

/* Header Container 100% Width */
.BLM-header {
	position: fixed;
	top: 30px;
	width: 100%;
}

/* Centered Top-Page Icon and Title Container */
.BLM-icon-title {
	position: relative;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	top: 5%;
	height: 145px;
	width: 80%;
	text-align: center;
}

/* Top-Page Icon for landing */
.BLM-icon-sm-bw {
	position: relative;
	top: 0%;
	background: url("../img/Icon_bw.png") no-repeat center center;
	background-size: contain;
	height: 100px;
	width: 100px;
	display: none;
}

/* Top-Page Icon for landing */
.BLM-icon-sm-idx {
	position: relative;
	top: 0%;
	background: url("../img/Icon_idx.png") no-repeat center center;
	background-size: contain;
	height: 100px;
	width: 100px;
	display: none;
}

/* Top-Page Title for Content-view */
.Icon-title {
	position: relative;
	display: none;
	top: 0%;
}

h3 {
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.25em;
	font-family: 'Lora', serif;
	font-size: 50px;
	color: rgba(255, 255, 255,.95);
}

/* Centered Top-Page Icon for Work*/
.BLM-icon-wrk {
	background: url("../img/Icon_wrk.png") no-repeat center center;
	background-size: contain;
	height: 100%;
}

/* Centered Top-Page Icon for Development*/
.BLM-icon-dev {
	background: url("../img/Icon_dev.png") no-repeat center center;
	background-size: contain;
	height: 100%;
}

/* Centered Title Container*/
.title {
	position: fixed;
	top: 20%;
	width: 100%;
	margin: auto;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* Centered Icon for Index */
.BLM-icon-idx  {
	background: url("../img/Icon_idx.png") no-repeat center center;
	background-size: contain;
	height: 145px;
	width: 145px;
}

/* Centered Title Text*/
h1 {
	position: relative;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.25em;
	font-family: 'Lora', serif;
	font-size: 75px;
	color: rgba(255, 255, 255,.95);
}

/* Sub-Page Headings*/
h2 {
	text-align: center;
	margin: 0.25em auto;
	color: rgba(255, 255, 255,.75);
	font-size: 50px;
	font-weight: 100;
	font-style: italic;
	letter-spacing: 0.10em;
	font-family: 'Lora', serif;
}

/* Baseline Navigation Links Div */
#fixed_navigation {
	position: fixed;
	bottom: 30px;
	width: 100%;
}

/* Nav Text Container */
.nav_links {
	position: relative;
	margin: auto;
	width: 80%;
	padding: 0.75em;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.65);
	text-align: center;
}

/* Nav List Styling */
ul {
}

/*Link Hover Style */

/* Nav Link Text Styling */
li {
	padding: 0.25em 0.75em;
	color: rgba(226, 244, 66,.70);
	font-size: 16px;
	text-align: center;
	font-family: 'Lora', serif;
	font-style: italic;
	font-weight: 100;
	letter-spacing: 0.25em;
	line-height:1.3em;
	margin: auto;
	display: inline-block;
}



