/* Mobile-friendly styling: Modify index.css 
for viewports fewer than 400px wide; */


/* Image and Title Div */
#background {
	/*background: url("../img/DSC_1658_small_mobile.jpg") no-repeat center bottom;*/
	width: 100%;
	height: 750px;
}	

/* Centered Top-Page Icon and Title Container */
.BLM-icon-title {
	justify-content: center;
}

/* Centered Title Text*/
h1 {
	font-size: 75px;
	letter-spacing: 0.20em;
}

/* Baseline Navigation Links Div */
#fixed_navigation {
	top: 60%;
}

/* Nav Text Container */
.nav_links {
	min-width: 100px;
}

/* Nav List Styling */
ul {
	width: 300px;
	margin: 0.75em auto;
}

/*Link Hover Style */

/* Nav Link Text Styling */
li {
	padding: .55em 0.5em;
	margin: .75em 0;
	border: none;
	border-radius: 5px;
	display: block;
	text-decoration: none;
}
