@import url(https://fonts.googleapis.com/css?family=Lora|Roboto|Roboto+Mono);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background-color: #e5e5e5;
}

.intro {
  position: relative;
  width: 100%;
  padding: 40px 0px 30px 0px;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
}
.intro h1 {
  font-size: 18px;
  padding-bottom: 0.5em;
}
.intro h2 {
  font-size: 14px;
  padding-top: 0.5em;
  color: #9b31a0;
}

.intro_bkg {
  background: url("../images/Landing_Title.png") no-repeat center center;
  background-size: contain;
  margin: auto;
  padding: 15px;
  height: auto;
  width: 150px;
}

.projects_main {
  width: 100%;
  height: auto;
  margin: 0 0;
  text-align: center;
}

.project_container {
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
}

.project1, .project2, .project3, .project4, .project5, .project6, .project7 {
  height: 200px;
  width: 200px;
  margin: 20px;
}

.project1 {
  background: url("../images/p1/lndImgBW.png") no-repeat center center;
  background-size: contain;
}
.project1:hover {
  background: url("../images/p1/lndImgCL.png") no-repeat center center;
  background-size: contain;
}

.project2 {
  background: url("../images/p2/lndImgBW.png") no-repeat center center;
  background-size: contain;
}
.project2:hover {
  background: url("../images/p2/lndImgCL.png") no-repeat center center;
  background-size: contain;
}

.project3 {
  background: url("../images/p3/lndImgBW.png") no-repeat center center;
  background-size: contain;
}
.project3:hover {
  background: url("../images/p3/lndImgCL.png") no-repeat center center;
  background-size: contain;
}

.project4 {
  background: url("../images/p4/lndImgBW.png") no-repeat center center;
  background-size: contain;
}
.project4:hover {
  background: url("../images/p4/lndImgCL.png") no-repeat center center;
  background-size: contain;
}

.project5 {
  background: url("../images/p5/lndImgBW.png") no-repeat center center;
  background-size: contain;
}
.project5:hover {
  background: url("../images/p5/lndImgCL.png") no-repeat center center;
  background-size: contain;
}

.project6 {
  background: url("../images/p6/lndImgBW.png") no-repeat center center;
  background-size: contain;
}
.project6:hover {
  background: url("../images/p6/lndImgCL.png") no-repeat center center;
  background-size: contain;
}

.project7 {
  background: url("../images/p7/lndImgBW.png") no-repeat center center;
  background-size: contain;
}
.project7:hover {
  background: url("../images/p7/lndImgCL.png") no-repeat center center;
  background-size: contain;
}

.navigation {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 30px 0px;
  background: linear-gradient(rgba(240, 240, 240, 0), #f0f0f0, #f0f0f0);
}
.navigation ul {
  position: relative;
  margin: auto;
  width: 70%;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.navigation li {
  display: inline-block;
  padding: .35em 1em;
  border: 1px solid #494949;
  border-radius: 5px;
}
.navigation li:hover {
  background-color: rgba(73, 73, 73, 0.1);
}
.navigation li a {
  font-size: 14px;
  color: #9b31a0;
  text-decoration: none;
}
