.navigation {
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 30px 0px;
	background: linear-gradient(rgba(240,240,240,0),rgba(240,240,240,1),rgba(240,240,240,1));
		ul{
			position: relative;
			margin: auto;
			width: 70%;
			font-family: $font-header;
			text-align: center;
		}

		li{
			display: inline-block;
			padding: .35em 1em;
			border: 1px solid $nav-gry;
			border-radius: 5px;
			font-size: 14px;
			color: $nav-pnk;
			text-decoration: none;
			&:hover{
				background-color: $prj-gry;
			}
		}
}