$p1imgurl: '../images/p1/ISLAND_1.png';
$p2imgurl: '../images/p2/CUBE_ELEV_ISO.png';
$p3imgurl: '../images/p3/MN_OLY_SQR.png';
$p4imgurl: '../images/p4/BENCH_PACKET_SQR.png';
$p5imgurl: '../images/p5/DSC_0319_SQR.png';
$p6imgurl: '../images/p6/GARAGE_SQR.png';
$p7imgurl: '../images/p7/MSPISO_SQR.png';


%pimage{
	height: 200px;
	width: 200px;
}

.project1{
	@extend %pimage;
	@include bckImg($p1imgurl);
}

.project2{
	@extend %pimage;
	@include bckImg($p2imgurl);
}

.project3{
	@extend %pimage;
	@include bckImg($p3imgurl);
}
.project4{
	@extend %pimage;
	@include bckImg($p4imgurl);
}
.project5{
	@extend %pimage;
	@include bckImg($p5imgurl);
}
.project6{
	@extend %pimage;
	@include bckImg($p6imgurl);
}
.project7{
	@extend %pimage;
	@include bckImg($p7imgurl);
}