.projects_main {
	width: 100%;
	height: auto;
	margin: 0 0;
	text-align: center;
}

.project_container {
	display: inline-block;
	margin: 50px;
	border-radius: 5px;
	&:hover {
		background-color: $prj-gry;
	}

}

