//Landing Images
$p1lndImg: '../images/p1/lndImgBW.png';
$p2lndImg: '../images/p2/lndImgBW.png';
$p3lndImg: '../images/p3/lndImgBW.png';
$p4lndImg: '../images/p4/lndImgBW.png';
$p5lndImg: '../images/p5/lndImgBW.png';
$p6lndImg: '../images/p6/lndImgBW.png';
$p7lndImg: '../images/p7/lndImgBW.png';

//Hover Images
$p1hovImg: '../images/p1/lndImgCL.png';
$p2hovImg: '../images/p2/lndImgCL.png';
$p3hovImg: '../images/p3/lndImgCL.png';
$p4hovImg: '../images/p4/lndImgCL.png';
$p5hovImg: '../images/p5/lndImgCL.png';
$p6hovImg: '../images/p6/lndImgCL.png';
$p7hovImg: '../images/p7/lndImgCL.png';

%pimage{
	height: 200px;
	width: 200px;
	margin: 20px;
}

.project1{
	@extend %pimage;
	@include bckImg($p1lndImg);
	&:hover {
		@include bckImg($p1hovImg);
	}
}

.project2{
	@extend %pimage;
	@include bckImg($p2lndImg);
	&:hover {
		@include bckImg($p2hovImg);
	}
}

.project3{
	@extend %pimage;
	@include bckImg($p3lndImg);
	&:hover {
		@include bckImg($p3hovImg);
	}
}
.project4{
	@extend %pimage;
	@include bckImg($p4lndImg);
	&:hover {
		@include bckImg($p4hovImg);
	}
}
.project5{
	@extend %pimage;
	@include bckImg($p5lndImg);
	&:hover {
		@include bckImg($p5hovImg);
	}
}
.project6{
	@extend %pimage;
	@include bckImg($p6lndImg);
	&:hover {
		@include bckImg($p6hovImg);
	}
}
.project7{
	@extend %pimage;
	@include bckImg($p7lndImg);
	&:hover {
		@include bckImg($p7hovImg);
	}
}