@import url(https://fonts.googleapis.com/css?family=Lora|Roboto|Roboto+Mono);

//fonts
$font-header: 'Roboto', sans-serif;
$font-header-serif: 'Lora', serif;
$font-description: 'Roboto Mono', monospace;

//colors
$background-gry: #e5e5e5;
$nav-gry: rgb(73, 73, 73);
$nav-pnk: rgb(155, 49, 160);
$prj-pnk: rgba(155, 49, 160,0.2);
$prj-gry: rgba(73, 73, 73,0.10);

//image urls
$intro_Img: "../images/Landing_Title.png";
$holder_intro_Img: "../images/Holder_Title.png";