@import url(https://fonts.googleapis.com/css?family=Lora|Roboto|Roboto+Mono);

//fonts
$font-header: 'Roboto', sans-serif;
$font-subheader: 'Roboto', sans-serif;
$font-description: 'Lora', serif;
$font-other: 'Roboto Mono', monospace;

//color store
$light-gray: #e5e5e5;
$dark-gray: rgb(73, 73, 73);
$dark-gray-tsp: rgba(73, 73, 73,0.10); 
$portfolio-pink: rgb(155, 49, 160);
$transparent: rgba(255,255,255,0);

//color Assign
$color-background: $light-gray;
$color-header: black;
$color-subheader: $portfolio-pink;
$color-description: $dark-gray;

//Heading Images
$image-landinghead: "../images/Landing_Title.png";
$image-holderhead: "../images/Holder_Title.png";
$image-projecthead: "../images/Project_Title.png";
$image-projectheadend: "../images/Project_End_Title.png";

//project index
$project-index: (
	'p1': '1523island',
	'p2': 'cornellmodels',
	'p3': 'sitedrawings',
	'p4': '127garage',
	'p5': 'scenephotography',
	'p6': 'koleshopdwgs',
	'p7': 'mspbanner'
);

//step images
$image-stepleft-hold: '../images/stepleft.png';
$image-stepleft-highlight: '../images/steplefthighlight.png';
$image-stepright-hold: '../images/stepright.png';
$image-stepright-highlight: '../images/steprighthighlight.png';